:root {
  --body-bg: #F5F9FF;
  --foreground: #FFFFFF;

  --nav-height: 100px;

  --large-inline-padding: 8%;
  --small-inline-padding: 5%;

  --primary-blue-clr: #0761AB;
  --sec-blue-clr: #032745;

  --grey-clr1: #EFEFEFBF;

  --input-field-clr: #F6F6F6;

  --light-yellow_clr: #E3B62059;

  --orange-text-clr: #EE9F0C;
  --dark-text-clr: #000000;

  --font-urb: var(--font-u);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-u);
  color: var(--dark-text-clr);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  * {
    transition: none;
  }
}
