

.signInCntn .left{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px;
}

.signInCntn{
    width: 100%;
    padding: 30px 5%;
    height: 100vh;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
}

.theNav{
    display: none;
}

.signInCntn .left img{
    /* width: 100%; */
    height: 60px;
    object-fit: contain;
    object-position: center;
}

.signInCntn .left h2{
    font-size: 2.2em;
    color: white;
    font-weight: 600;
    width: 100%;
}

.signInCntn .right{
    width: 100%;
    height: 100%;
    color: #80808026;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.signInCntn .right .cl-internal-1dauvpw{
    display: none;
}

.signInCntn .right input{
    border: 1px solid #858585 !important;
}
.signInCntn .right .cl-signUp-root, .signInCntn .right .cl-signUp-start{
    width: 100% !important;
    box-shadow: none !important;
}
.signInCntn .right .cl-signUp-root > *, .signInCntn .right .cl-signIn-root > *{
    width: 100% !important;
    box-shadow: none !important;
}
.signInCntn .right .cl-signIn-root , .signInCntn .right .cl-signIn-start{
    width: 100% !important;
    box-shadow: none !important;
}

@media screen and (max-width: 600px) {
    .signInCntn .left{
        display: none;
    }

    .theNav{
        display: block;
    }

    .signInCntn{
        width: 100%;
        padding: 0px 0px;
        padding-top: 80px;
        display: flex;
        gap: 30px;
    }

    .signInCntn .right {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signInCntn .right input{
        border: 1px solid #858585 !important;
    }

    .signInCntn .right .cl-signUp-root, .signInCntn .right .cl-signIn-root{
        margin: 0 !important;
        padding: 0 !important;
        display: grid;
        place-items: center;
    }
}



